<footer class="my-5 pt-5 text-white bg-dark text-center text-small">
    <p class="mb-1">&copy; 2020-2020 NodeJS MongoDB</p>
    <p class="mb-1">Alejandro Vargas</p>
    <ul class="list-inline">
        <li class="list-inline-item"><a href="https://www.mongodb.com/es">MongoDB</a></li>
        <li class="list-inline-item"><a href="https://nodejs.org/en/">NodeJS</a></li>
        <li class="list-inline-item"><a href="https://www.npmjs.com/">NPM</a></li>
    </ul>
</footer>